html {
    font-family: "Helvetica";
    background: white;
}

body {
    background: white;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    margin: 0 auto;
}

#header {
    padding-top: 1%;
    background: #293f50;
}


#inner-header h1{
    color: white;
    font-size :80px;
    font-family: sans-serif;
}
#inner-header p{
    color: oldlace;
    font-size: 30px;
}

#main{
    padding-left: 10%;
}

input[type="text"], select {
    color: grey;
    border: 1px solid lightsteelblue;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 1px;
}

input[type="submit"] {
    padding: 5px 10px 5px 10px;
    color: black;
    background: lightsteelblue;
    border: none;
    box-shadow: 1px 1px 1px #4C6E91;
}

input[type="submit"]:hover {
    background: steelblue;
}

#footer {
    background: #293f50;]
}

#footer p{
    color: black;
    float: right;
    padding-right: 20px;
    font-size: 20px;
}

#left
    {
    width:34%;
    margin-right:2%;
    float: left;
}

#middle {
    width:34%;
    float: left;

}

#right{
    width: 30%;
    float:right

}

#clearfix{
    clear:both
}
