<html>
    <head>
        <title>Headlines</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div id="header">
            <div id="inner-header">
                <h1 align="center">Headlines</h1>
                <p align="center">Headlines. Currency. Weather.</p>
            </div>
            <hr />
        </div>
        <div id="main">
            <div id = "left">
            <h2>Current weather</h2>
            <form>
                <input type="text" name="city" placeholder="weather search">
                <input type="submit" value="Submit">
            </form>
            <p>City: <b>{{weather.city}}, {{weather.country}}</b></p>
            <p>{{weather.description}} | {{weather.temperature}}&#8451;</p>
            </div>

            <div id ="middle">
            <h2>Currency</h2>
                <form>
                    from: <select name="currency_from">
                            {% for currency in currencies %}
                                    <option value="{{currency}}"
                                            {{'selected="selected"' if currency_from==currency}}>
                                        {{currency}}
                                    </option>
                            {% endfor %}
                        </select>
                    to: <select name="currency_to">
                            {% for currency in currencies %}
                                    <option value="{{currency}}"
                                            {{'selected="selected"' if currency_to==currency}}>
                                        {{currency}}
                                    </option>
                            {% endfor %}
                        </select>
                    <input type="submit" value="Submit">
                </form>

                {{currency_from}} = {{currency_to}} {{rate}}
            </div>


            <div id = "right">
            <h2>Headlines</h2>
                <form>
                    <input type="text" name="publication" placeholder="search" />
                    <input type="submit" value="Submit" />
                </form>

            </div>
            <div id="clearfix"></div>
                {% for article in articles%}
                <b><a href="{{article.link}}">{{article.title}}</a></b><br />
                <i>{{article.published}}</i><br />
                <p>{{article.summary}}</p>
                <hr />

                {% endfor %}
        </div>
        <div id="footer">
            <p><b>© Pawan Jain</b></p>
        </div>
    </body>

</html>